body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --subhead-medium-24: Roboto;
  --font-poppins: Poppins;
  --font-montserrat: Montserrat;

  /* font sizes */
  --subhead-medium-24-size: 24px;
  --h2-semibold-26-size: 26px;
  --font-size-14xl: 33px;
  --font-size-8xl: 27px;
  --font-size-18xl: 37px;

  /* Colors */
  --color-lightblue-100: #cce9ff;
  --color-mistyrose: #e7cac9;
  --white: #fff;
  --text-color: #444;
  --color-steelblue-100: #0e538c;
  --color-darkorange-100: #f08418;
  --color-gray: rgba(0, 0, 0, 0.68);
  --color-black: #000;
  --color-lavender-100: #e5ebf9;

  /* Border radiuses */
  --br-28xl: 47px;
}
